{
  "fusionx.backendUrl": "${FUSIONX_BACKEND_URL}",
  "fusionx.autoConnect": true,
  "workbench.startupEditor": "none",
  "workbench.activityBar.visible": true,
  "workbench.sideBar.location": "left",
  "workbench.view.alwaysShowHeaderActions": true,
  "workbench.defaultSideBarWidth": 300,
  "extensions.autoUpdate": false,
  "telemetry.telemetryLevel": "off",
  "update.mode": "none"
}
